h2{ 
    text-align:center;
    color:maroon;
    }
    body{
    background-color:silver;
    }
    #para1{
    color:blue;
    
    }
    .center{ text-align:center;
    color:brown;
     }
    #ngh{ font-weight:bold; 
    }
    p{ font-family:cursive;
    }